.xaxis{
  stroke: #F25116;
}
.yaxis{
  stroke: #F25116;
}
.domain{
  fill: #F25116;
  stroke: #027368;
}
.tick line{
  fill: #F25116;
  stroke: #025951;
}
.tick text{
  font-size: 20px;
  color: white;
  stroke: none;
  font-family: 'Ravi Prakash', cursive;
}
