.title {
  width: auto;
  font-family: Futura;
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  margin: 0;
}
#title1 {
  left: 5%;
  top: 5%;
}
#title2 {
  left: 20%;
  top: 15%;
  font-size: 350px;
}
#title3 {
  left: 30%;
  top: 65%;
}
#credit {
  font-size: 30px;
  font-weight: normal;
  left: 75%;
  top: 90%;
}
#bgi {
  height: 250px;
  width: 500px;
  background-color: pink;
  position: absolute;
  left: 65%;
  top: 1%;
}
#box1 {
  background-color: pink;
  height: 750px;
  width: 99%;
  top: 100%;
  position: absolute;
}
#subtitle1 {
  font-family: Futura;
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: -10%;
  left: 25%;
}
#container1 {
  background-color: lightblue;
  position: absolute;
  bottom: 0%;
  left: 12%;
}
#box2 {
  background-color: pink;
  height: 750px;
  width: 99%;
  top: 200%;
  position: absolute;
}
#container2 {
  background-color: lightblue;
  position: absolute;
  top: 7%;
  left: 7%;
}
.content2 {
  font-family: Futura;
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: -5%;
  left: 50%;
  width: 50%;
}
#subtitle2 {
  font-family: Futura;
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: -5%;
  left: 75%;
}
.main2 {
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  top: 100%;
}
